<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}IG45 BaseFront{% endblock %}
        </title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {% block styles %}
            <!--Import Google Icon Font-->
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!--Import materialize.css-->
            <link type="text/css" rel="stylesheet" href="{{ asset('bower_components/materialize/dist/css/materialize.min.css') }}" media="screen,projection"/>
            <!--Import style.css -->
            <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="blue lighten-2">
                <div class="nav-wrapper container">
                    <a href="#" class="brand-logo"><img src="{{ asset('assets/image/IGLogo.png') }}" alt="Logo IG"></a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            {% if app.user %}
                                <a href="{{ path('fos_user_security_logout') }}">{{app.user.nom}}
                                    {{app.user.prenom}}
                                    <i class="material-icons right">power_settings_new</i>
                                </a>
                            {% else %}
                                <a href="{{ path('fos_user_security_login') }}">Se connecter<i class="material-icons right">person</i>
                                </a>
                            {% endif %}
                        </li>
                        <li>
                            {% if is_granted('ROLE_ADMIN')or is_granted('ROLE_SUPER_ADMIN') %}
                            <li>
                                <a href="{{ path('backoffice_base_homepage') }}">Interface Administrateur</a>
                            </li>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        {% block actionAgenda%}
            <div class="action_agenda">
                <a href="{{ path('evenement_index') }}" class="waves-effect waves-light btn blue lighten-2" title="Retour à l'accueil">
                    <i class="material-icons">home</i>
                </a>
                {% if is_granted('ROLE_CORRESPONDANT')or is_granted('ROLE_ADMIN')or is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('evenement_new') }}" class="waves-effect waves-light btn blue lighten-2" title="Créer une intervention">
                        <i class="material-icons">add</i>
                    </a>
                {% endif %}
                <a href="{{ path('evenement_search') }}" class="waves-effect waves-light btn blue lighten-2" title="Rechercher une intervention">
                    <i class="material-icons">search</i>
                </a>
                <a href="{{ path('agenda_perso') }}" class="waves-effect waves-light btn blue lighten-2" title="Agenda personnel">Agenda Personnel</a>
                {% block specificAction%}{% endblock %}
            </div>
        {% endblock %}
        {% block contentBody %}{% endblock %}
    </div>
    {% block scripts %}
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bower_components/materialize/dist/js/materialize.min.js') }}"></script>
    {% endblock %}
</body>
</html>
