{% extends 'BackofficeBaseBundle::Layout/AdminLayout.html.twig' %}

{% block navActive %}niveau{% endblock %}

{% block contentHeader %}
<h1>
    Administration des niveaux d'etablissements
</h1>
{% endblock %}

{% block content %}

<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-building"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Nombre de niveaux</span>
            <span class="info-box-number">{{niveaux|length}}</span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
    <a href="{{ path('niveau_new') }}">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-plus-circle"></i></span>

            <div class="info-box-content">
                <span class="info-box-number">Créer un niveau d'etablissement</span>
            </div>
        </div>
    </a>
</div>


<div class="col-md-9 col-sm-8 col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Liste des niveaux d'établissements</h3>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped dataTable">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                <tbody>
                </tfoot>
                    {% for niveau in niveaux %}
                    <tr>
                        <td><a href="{{ path('niveau_show', { 'id': niveau.id }) }}">{{ niveau.nom }}</a></td>
                        <td>
                            <a title="Affichier" href="{{ path('niveau_show', { 'id': niveau.id }) }}"><i class="fa fa-2x fa-info"></i></a>
                            <span>   </span>
                            <span>   </span>
                            <a title="Modifier" href="{{ path('niveau_edit', { 'id': niveau.id }) }}"><i class="fa fa-2x fa-edit"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-4 col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Ajout de niveau</h3>
        </div>
        <div class="box-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Create" />
            {{ form_end(form) }}
        </div>
    </div>
</div>


{% endblock %}
