{% extends 'base.html.twig' %}

{% block body %}
    <h1>Evenements list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Dateevt</th>
                <th>Heuredebut</th>
                <th>Heurefin</th>
                <th>Nbparticipants</th>
                <th>Nbobservateurs</th>
                <th>Niveauintervention</th>
                <th>Typeintervention</th>
                <th>Have_observateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td><a href="{{ path('evenement_show', { 'id': evenement.id }) }}">{{ evenement.id }}</a></td>
                <td>{{ evenement.nom }}</td>
                <td>{{ evenement.description }}</td>
                <td>{% if evenement.dateEvt %}{{ evenement.dateEvt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if evenement.heureDebut %}{{ evenement.heureDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if evenement.heureFin %}{{ evenement.heureFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ evenement.nbParticipants }}</td>
                <td>{{ evenement.nbObservateurs }}</td>
                <td>{{ evenement.niveauIntervention }}</td>
                <td>{{ evenement.typeIntervention }}</td>
                <td>{% if evenement.haveobservateur %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('evenement_show', { 'id': evenement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evenement_new') }}">Create a new evenement</a>
        </li>
    </ul>
{% endblock %}
