{% extends "BackofficeBaseBundle::Layout/AdminLayout.html.twig" %}

{% block navActive %}etablissement{% endblock %}

{% block contentHeader %}
<h1>
    Fiche établissement
</h1>
{% endblock %}

{% block content %}

<div class="col-md-12">
    <div class="box">
        <!-- /.box-header -->
        <div class="box-header">
            <h3>
                {{ etablissement.nom }}
                <small>{{ etablissement.adresse }}, {{ etablissement.codePostal }} {{ etablissement.ville }}</small>
            </h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <h4>Informations générales</h4>
                    <dl>
                        <dt>Nom</dt>
                        <dd>{{ etablissement.nom }}</dd>
                        <dt>Adresse</dt>
                        <dd>{{ etablissement.adresse }}</dd>
                        <dt>Ville</dt>
                        <dd>{{ etablissement.ville }}</dd>
                        <dt>Codepostal</dt>
                        <dd>{{ etablissement.codePostal }}</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <h4>Liens utilisateurs</h4>
                    <dl>
                        <dt>Coresspondant</dt>
                        <dd>{{ etablissement.correspondants }}</dd>
                        {% for adj in etablissement.adjoints %}
                        <dt>Adjoint {{ loop.index }}</dt>
                        <dd>{{ adj }}</dd>
                        {% endfor %}
                    </dl>
                </div>
                <div class="col-md-4">
                    <h4>Interventions</h4>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- ./box-body -->
        <div class="box-footer">
            <div class="btn-group pull-right">
                <a class="btn btn-primary" href="{{ path('etablissement_edit', { 'id': etablissement.id }) }}"><i class="fa fa-edit"></i> Modifier</a>
                <button type="button" name="btn" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-danger" /><i class="fa fa-trash"></i> Supprimer</button>
            </div>
        </div>
    </div>
    <!-- /.box -->
</div>
{% endblock %}

{% block modals %}
<!-- Modal de validation de la supression de l'etablissement -->
<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>
                    Êtes-vous certain de voulour suprimer l'établissement {{ etablissement.nom }} ?
                </h4>
            </div>
        <div class="modal-footer">
            {{ form_start(delete_form) }}
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="submit" value="Delete" class="btn btn-danger"><i class="fa fa-trash"></i> Valider</button>
            {{ form_end(delete_form) }}

        </div>
    </div>
</div>
{% endblock %}
