{% extends 'base.html.twig' %}

{% block body %}
    <h1>Evenements list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Dateevt</th>
                <th>Heuredebut</th>
                <th>Heurefin</th>
                <th>Nbparticipants</th>
                <th>Nbobservateurs</th>
                <th>Niveauintervention</th>
                <th>Nbgroupes</th>
                <th>Nbsalles</th>
                <th>Eleves_volontaires</th>
                <th>Documentation_attendue</th>
                <th>Particularite</th>
                <th>Complement_info</th>
                <th>Enseignant_ref</th>
                <th>Courriel_enseignant_ref</th>
                <th>Tel_enseignant_ref</th>
                <th>Nbeleves</th>
                <th>Niveau_classe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td><a href="{{ path('evenement_show', { 'id': evenement.id }) }}">{{ evenement.id }}</a></td>
                <td>{{ evenement.description }}</td>
                <td>{% if evenement.dateEvt %}{{ evenement.dateEvt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if evenement.heureDebut %}{{ evenement.heureDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if evenement.heureFin %}{{ evenement.heureFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ evenement.nbParticipants }}</td>
                <td>{{ evenement.nbObservateurs }}</td>
                <td>{{ evenement.niveauIntervention }}</td>
                <td>{{ evenement.nbGroupes }}</td>
                <td>{{ evenement.nbSalles }}</td>
                <td>{{ evenement.elevesvolontaires }}</td>
                <td>{% if evenement.documentationattendue %}Yes{% else %}No{% endif %}</td>
                <td>{{ evenement.particularite }}</td>
                <td>{{ evenement.complementinfo }}</td>
                <td>{{ evenement.enseignantref }}</td>
                <td>{{ evenement.courrielenseignantref }}</td>
                <td>{{ evenement.telenseignantref }}</td>
                <td>{{ evenement.nbEleves }}</td>
                <td>{{ evenement.niveauclasse }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('evenement_show', { 'id': evenement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evenement_new') }}">Create a new evenement</a>
        </li>
    </ul>
{% endblock %}
