{% extends "BaseBundle::Layout/BaseLayout.html.twig" %}

{% block contentBody %}
    <h1>Agenda</h1>
    <ul>
        <li>
          <a href="#"><i class="material-icons">chevron_left</i></a>
        </li>
        <li>
            <a href="{{ path('evenement_new') }}">Créer un événement</a>
        </li>
        <li>
          <a href="#">Agenda personnel</a>
        </li>
    </ul>

    <table class="bordered striped responsive-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Information Intervention</th>
                <th>Intervenant</th>
                <th>Observateurs</th>
                <th>Fiche Intervention</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{% if evenement.dateEvt %}{{ evenement.dateEvt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if evenement.heureDebut %}{{ evenement.heureDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if evenement.heureFin %}{{ evenement.heureFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.nbParticipants }}</td>
                <td>{{ evenement.nbObservateurs }}</td>
                <td>
                  <ul>
                    <li>
                        <a href="{{ path('evenement_show', { 'id': evenement.id }) }}">détails</a>
                    </li>
                  </ul>
                </td>
                <td>
                  <ul>
                      <li>
                          <a href="#"><i class="material-icons">mail</i></a>
                      </li>
                      <li>
                          <a href="{{ path('evenement_delete', { 'id': evenement.id }) }}"><i class="material-icons">delete</i></a>
                      </li>
                      <li>
                          <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}"><i class="material-icons">mode_edit</i></a>
                      </li>
                  </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
