{% extends "BaseBundle::Layout/BaseLayout.html.twig" %}
{% block title %}Création intervention{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/listswap.css') }}">
{% endblock %}
{% block specificAction%}
    <div class="right">
        <a href="{{ path('evenement_index') }}" class="waves-effect waves-light btn blue lighten-2" title="Retour liste">
            <i class="material-icons">chevron_left</i>
        </a>
    </div>
{% endblock %}
{% block contentBody %}
    {{ form_start(form) }}
    <h2 class="info_etape">Étape 1 sur 2</h2>
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            {{ form_label(form.dateEvt, "Date de l'intervention") }}
            {{ form_widget(form.dateEvt) }}
        </div>
        <div class="col-lg-4 col-sm-6">
            {{ form_label(form.anneeScolaire, "Année scolaire de l'intervention") }}
            {{ form_widget(form.anneeScolaire) }}
        </div>
        <div class="col-lg-4 col-sm-6">
            {{ form_label(form.etablissement, "Lieu de l'intervention") }}
            {{ form_widget(form.etablissement) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            {{ form_label(form.heureDebut, "Heure de début") }}
            {{ form_widget(form.heureDebut) }}
        </div>
        <div class="col-lg-6 col-sm-6">
            {{ form_label(form.heureFin, "Heure de fin") }}
            {{ form_widget(form.heureFin) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            {{ form_label(form.niveauClasse, "Niveau de la classe") }}
            {{ form_widget(form.niveauClasse) }}
        </div>
        <div class="col-lg-6 col-sm-6">
            {{ form_label(form.nbEleves, "Nombre d'éleves") }}
            {{ form_widget(form.nbEleves) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            {{ form_label(form.nbParticipants, "Nombre de participants")  }}
            {{ form_widget(form.nbParticipants, {'attr': {'onchange': 'verif_participants(this.value)'}}) }}
        </div>
        <div class="col-lg-6 col-sm-6">
            <div id="liste_participants">
                {{ form_label(form.intervenants, "Sélection des participants") }}
                {{ form_widget(form.intervenants, {'attr': {'data-text':'Users'}}) }}
                <select id="destination_obs" data-text="Users" name="agendabundle_evenement[intervenants][]"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            {{ form_label(form.nbObservateurs, "Nombre d'observateurs") }}
            {{ form_widget(form.nbObservateurs, {'attr': {'onchange': 'verif_observateurs(this.value)'}}) }}
        </div>
        <div class="col-lg-6 col-sm-6">
            <div id="liste_observateurs">
                {{ form_label(form.observateurs, "Sélection des observateurs") }}
                {{ form_widget(form.observateurs, {'attr': {'data-text':'Users'}}) }}
                <select id="destination_interv" data-text="Users" name="agendabundle_evenement[observateurs][]"></select>
            </div>
        </div>
    </div>
    <input type="submit" value="Continuer" id="valider" class="waves-effect waves-light btn blue lighten-2 right input_form"/>
</div>
</div>
{{ form_end(form) }}
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="{{ asset('js/jquery.listswap.js') }}"></script>
<script src="{{ asset('js/new_evenement.js') }}"></script>
<script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}
