{% extends "BaseBundle::Layout/BaseLayout.html.twig" %}

{% block contentBody %}
    <h1>Création d'un événement</h1>

    {{ form_start(form) }}

      <div class="row">
        <div class="col s6">{{ form_label(form.dateEvt, "Date de l'intervention") }}</div>
        <div class="col s6">{{ form_widget(form.dateEvt) }}</div>
      </div>
      <div class="row">
        <div class="col s6">{{ form_label(form.etablissement, "Lieu de l'intervention") }}</div>
        <div class="col s6">{{ form_widget(form.etablissement) }}</div>
      </div>
      <div class="row">
        <div class="col s6">{{ form_label(form.heureDebut, "Heure de début") }}</div>
        <div class="col s6">{{ form_widget(form.heureDebut) }}</div>
      </div>
      <div class="row">
        <div class="col s6">{{ form_label(form.heureFin, "Heure de fin") }}</div>
        <div class="col s6">{{ form_widget(form.heureFin) }}</div>
      </div>
      <div class="row">
        <div class="col s6">{{ form_label(form.niveauIntervention, "Niveau de la classe") }}</div>
        <div class="col s6">{{ form_widget(form.niveauIntervention) }}</div>
      </div>
      <div class="row">
        <div class="col s6">{{ form_label(form.nbEleves, "Nombre d'éleves") }}</div>
        <div class="col s6">{{ form_widget(form.nbEleves) }}</div>
      </div>
      <div class="row">
        <div class="col s6">{{ form_label(form.nbParticipants, "Nombre de participants")  }}</div>
        <div class="col s6">{{ form_widget(form.nbParticipants, {'attr': {'onchange': 'verif_participants(this.value)'}}) }}</div>
      </div>
      <div class="row">
        <div id="liste_participants">
          <div class="col s6">{{ form_label(form.intervenants, "Sélection des participants") }}</div>
          <div class="col s6">{{ form_widget(form.intervenants) }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">{{ form_label(form.nbObservateurs, "Nombre d'observateurs") }}</div>
        <div class="col s6">{{ form_widget(form.nbObservateurs, {'attr': {'onchange': 'verif_observateurs(this.value)'}}) }}</div>
      </div>
      <div class="row">
        <div id="liste_observateurs">
          <div class="col s6">{{ form_label(form.observateurs, "Sélection des observateurs") }}</div>
          <div class="col s6">{{ form_widget(form.observateurs) }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col s6 offset-s6">
          <p><input type="submit" value="Continuer" /></p>
          <p><a href="{{ path('evenement_index') }}">Annuler</a></p>
        </div>
      </div>

    {{ form_end(form) }}

    <script type="text/javascript">
      window.onload = function () {
          document.getElementById("liste_participants").style.display='none';
          document.getElementById("liste_observateurs").style.display='none';
      }
      function verif_participants(elem){
        if (elem!=0){
          document.getElementById("liste_participants").style.display='block';
        }
        else{
          document.getElementById("liste_participants").style.display='none';
        }
      }
      function verif_observateurs(elem){
        if (elem!=0){
          document.getElementById("liste_observateurs").style.display='block';
        }
        else{
          document.getElementById("liste_observateurs").style.display='none';
        }
      }
    </script>
{% endblock %}
