{% extends "BaseBundle::Layout/BaseLayout.html.twig" %}
{% block title %}Création intervention{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/listswap.css') }}">
{% endblock %}
{% block specificAction%}
    <div class="right">
        <a href="{{ path('evenement_index') }}" class="waves-effect waves-light btn blue lighten-2" title="Retour liste">
            <i class="material-icons">chevron_left</i>
        </a>
    </div>
{% endblock %}
{% block contentBody %}
    {{ form_start(form) }}
    <h2 class="info_etape">Étape 1 sur 2</h2>
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            {{ form_label(form.dateEvt, "Date de l'intervention") }}
            {{ form_widget(form.dateEvt) }}
        </div>
        <div class="col-lg-6 col-sm-6">
            {{ form_label(form.anneeScolaire, "Année scolaire de l'intervention") }}
            {{ form_widget(form.anneeScolaire) }}
        </div>
        <div class="col-lg-6 col-sm-6">
            {{ form_label(form.etablissement, "Lieu de l'intervention") }}
            {{ form_widget(form.etablissement, {'attr': {'onchange': 'verif_type(this.value)'}}) }}
        </div>
        <div class="col-lg-6 col-sm-6">
            {{ form_label(form.typeEvenement, "Type de l'intervention") }}
            {{ form_widget(form.typeEvenement) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            {{ form_label(form.heureDebut, "Heure de début") }}
            {{ form_widget(form.heureDebut) }}
        </div>
        <div class="col-lg-6 col-sm-6">
            {{ form_label(form.heureFin, "Heure de fin") }}
            {{ form_widget(form.heureFin) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            {{ form_label(form.niveauClasse, "Niveau de la classe") }}
            {{ form_widget(form.niveauClasse) }}
        </div>
        <div class="col-lg-6 col-sm-6">
            {{ form_label(form.nbEleves, "Nombre d'éleves") }}
            {{ form_widget(form.nbEleves) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            {{ form_label(form.nbParticipants, "Nombre de participants")  }}
            {{ form_widget(form.nbParticipants, {'attr': {'onchange': 'verif_participants(this.value)'}}) }}
        </div>
        <div class="col-lg-9">
            <div id="liste_participants">
                {{ form_label(form.intervenants, "Sélection des participants") }}
                {{ form_widget(form.intervenants, {'attr': {'data-text':'Users'}}) }}
                <select id="destination_obs" data-text="Users" name="agendabundle_evenement[intervenants][]"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            {{ form_label(form.nbObservateurs, "Nombre d'observateurs") }}
            {{ form_widget(form.nbObservateurs, {'attr': {'onchange': 'verif_observateurs(this.value)'}}) }}
        </div>
        <div class="col-lg-9">
            <div id="liste_observateurs">
                {{ form_label(form.observateurs, "Sélection des observateurs") }}
                {{ form_widget(form.observateurs, {'attr': {'data-text':'Users'}}) }}
                <select id="destination_interv" data-text="Users" name="agendabundle_evenement[observateurs][]"></select>
            </div>
        </div>
    </div>
    <input type="submit" value="Continuer" id="valider" class="waves-effect waves-light btn blue lighten-2 right input_form"/>
</div>
</div>
{{ form_end(form) }}
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="{{ asset('js/jquery.listswap.js') }}"></script>
<script src="{{ asset('js/new_evenement.js') }}"></script>
<script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript">

window.onload = function() {

  document.getElementById("liste_participants").style.display = 'none';
  document.getElementById("liste_observateurs").style.display = 'none';

  {% if evenement.intervenants is not empty %}
    var select_multi = document.getElementById("destination_obs");
    {% for intervenant in evenement.intervenants %}
        option = document.createElement("option");
        option.text = "{{ intervenant.nom }}.{{ intervenant.prenom }}";
        option.value = "{{ intervenant.id }}";
        select_multi.appendChild(option);
        li = document.createElement("li");
        li.classList = "listbox_option even";
        li.datavalue = "{{ intervenant.id }}";
        var liste_affiche = document.getElementById('listbox_destination_obs_wrapper');
        spanUser = document.createElement("span");
        spanUser.innerHTML = "{{ intervenant.nom }}.{{ intervenant.prenom }}";
        li.appendChild(spanUser)
        liste_affiche.children[1].appendChild(li);
    {% endfor %}
    document.getElementById("liste_participants").style.display = 'block';
    console.log("coucou");
  {% endif %}

  {% if evenement.observateurs is not empty %}
    var select_multi = document.getElementById("destination_interv");
    {% for observateur in evenement.observateurs %}
        option = document.createElement("option");
        option.text = "{{ observateur.nom }}.{{ observateur.prenom }}";
        option.value = "{{ observateur.id }}";
        select_multi.appendChild(option);
        li = document.createElement("li");
        li.classList = "listbox_option even";
        li.datavalue = "{{ observateur.id }}";
        var liste_affiche = document.getElementById('listbox_destination_interv_wrapper');
        spanUser = document.createElement("span");
        spanUser.innerHTML = "{{ observateur.nom }}.{{ observateur.prenom }}";
        li.appendChild(spanUser)
        liste_affiche.children[1].appendChild(li);
    {% endfor %}
    document.getElementById("liste_observateurs").style.display = 'block';
  {% endif %}

    document.getElementById("valider").addEventListener("click", function(event) {
        event.preventDefault();
        var hDebut = document.getElementById("agendabundle_evenement_heureDebut_hour").value;
        var hFin = document.getElementById("agendabundle_evenement_heureFin_hour").value;
        var mDebut = document.getElementById("agendabundle_evenement_heureDebut_minute").value;
        var mFin = document.getElementById("agendabundle_evenement_heureFin_minute").value;
        if (hDebut > hFin) {
            document.getElementById("alert_heure").innerHTML = "L'heure de début et de fin ne correspondent pas";
        } else if (hDebut == hFin && mDebut > hFin) {
            document.getElementById("alert_heure").innerHTML = "L'heure de début et de fin ne correspondent pas";
        } else {
            document.getElementsByName("agendabundle_evenement")[0].submit();
        }
    })
}

function verif_type(elem) {
    var liste = document.getElementById('agendabundle_evenement_typeEvenement');
    while (liste.firstChild) {
        liste.removeChild(liste.firstChild);
    }
    var ajout = true;
    var option = document.createElement("option");
    option.text = "Choisir un type d'intervention";
    option.value = null;
    liste.appendChild(option);
    {% for niveau in niveau_etbl %}
        {% for niveau_e in niveau.Etablissements %}
            if (elem == {{ niveau_e.id }}) {
                {% for typeEv in typeEvenement %}
                    {% for typeEvNiveau in typeEv.niveaux %}
                        {% for niv in niveau_e.niveaux %}
                            if ("{{ typeEvNiveau }}" == "{{ niv }}") {
                                console.log("{{typeEv.id}}")
                                option = document.createElement("option");
                                option.text = "{{typeEv.nom}}";
                                option.value = "{{typeEv.id}}";
                                var alreadyExist = liste.children;
                                for (let i = 0; i < liste.length; i++) {
                                    if (liste[i].value == {{typeEv.id}}) {
                                        ajout = false;
                                    }
                                }
                                if (ajout) {
                                    liste.appendChild(option);
                                }
                            }
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
        }
    {% endfor %}
{% endfor %}
}
</script>
{% endblock %}
