{% extends 'base.html.twig' %}

{% block body %}
    <h1>Evenement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
            <tr>
                <th>Dateevt</th>
                <td>{% if evenement.dateEvt %}{{ evenement.dateEvt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heuredebut</th>
                <td>{% if evenement.heureDebut %}{{ evenement.heureDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heurefin</th>
                <td>{% if evenement.heureFin %}{{ evenement.heureFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nbparticipants</th>
                <td>{{ evenement.nbParticipants }}</td>
            </tr>
            <tr>
                <th>Nbobservateurs</th>
                <td>{{ evenement.nbObservateurs }}</td>
            </tr>
            <tr>
                <th>Niveauintervention</th>
                <td>{{ evenement.niveauIntervention }}</td>
            </tr>
            <tr>
                <th>Nbgroupes</th>
                <td>{{ evenement.nbGroupes }}</td>
            </tr>
            <tr>
                <th>Nbsalles</th>
                <td>{{ evenement.nbSalles }}</td>
            </tr>
            <tr>
                <th>Eleves_volontaires</th>
                <td>{{ evenement.elevesvolontaires }}</td>
            </tr>
            <tr>
                <th>Documentation_attendue</th>
                <td>{% if evenement.documentationattendue %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Particularite</th>
                <td>{{ evenement.particularite }}</td>
            </tr>
            <tr>
                <th>Complement_info</th>
                <td>{{ evenement.complementinfo }}</td>
            </tr>
            <tr>
                <th>Enseignant_ref</th>
                <td>{{ evenement.enseignantref }}</td>
            </tr>
            <tr>
                <th>Courriel_enseignant_ref</th>
                <td>{{ evenement.courrielenseignantref }}</td>
            </tr>
            <tr>
                <th>Tel_enseignant_ref</th>
                <td>{{ evenement.telenseignantref }}</td>
            </tr>
            <tr>
                <th>Nbeleves</th>
                <td>{{ evenement.nbEleves }}</td>
            </tr>
            <tr>
                <th>Etablissement</th>
                <td>{{ evenement.etablissement }}</td>
            </tr>
            <tr>
                <th>Niveau etablissement</th>
                {%  for niveau in evenement.etablissement.niveaux %}
                    <td>{{ niveau }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evenement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
