{% extends "BaseBundle::Layout/BaseLayout.html.twig" %}

{% block contentBody %}
    <h1>Evenement</h1>
    <ul class="inline-Elem">
        <li>
          <a href="#"><i class="material-icons">chevron_left</i></a>
        </li>
        <li>
            <a href="{{ path('evenement_new') }}">Créer une Intervention</a>
        </li>
        <li>
          <a href="#">Agenda Personnel</a>
        </li>
    </ul>

    <table class="bordered striped responsive-table">
        <tbody>
            <tr>
                <th>Etablissement</th>
                <td>Informations1</td>
            </tr>
            <tr>
                <th>Adresse de l'établessiment</th>
                <td>Informations2</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>Informations3</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>Informations4</td>
            </tr>
            <tr>
                <th>Date de l'évènement</th>
                <td>{% if evenement.dateEvt %}{{ evenement.dateEvt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Début de l'évènement</th>
                <td>{% if evenement.heureDebut %}{{ evenement.heureDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fin de l'évènement</th>
                <td>{% if evenement.heureFin %}{{ evenement.heureFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
            <tr>
                <th>Nombres d'intervenants nécessaires</th>
                <td>Informations5</td>
            </tr>
            <tr>
                <th>Nombres de participants</th>
                <td>{{ evenement.nbParticipants }}</td>
            </tr>
            <tr>
                <th>Nombres d'observateurs</th>
                <td>{{ evenement.nbObservateurs }}</td>
            </tr>
            <tr>
                <th>Nombres de groupes</th>
                <td>{{ evenement.nbGroupes }}</td>
            </tr>
            <tr>
                <th>Nombres de salles</th>
                <td>{{ evenement.nbSalles }}</td>
            </tr>
            <tr>
                <th>Nombres élèves volontaires</th>
                <td>{{ evenement.elevesvolontaires }}</td>
            </tr>
            <tr>
                <th>Documentation attendue</th>
                <td>{% if evenement.documentationattendue %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Particularite</th>
                <td>{{ evenement.particularite }}</td>
            </tr>
            <tr>
                <th>Complement d'information</th>
                <td>{{ evenement.complementinfo }}</td>
            </tr>
            <tr>
                <th>Enseignant référant</th>
                <td>{{ evenement.enseignantref }}</td>
            </tr>
            <tr>
                <th>Courriel enseignant réf</th>
                <td>{{ evenement.courrielenseignantref }}</td>
            </tr>
            <tr>
                <th>Tel enseignant réf</th>
                <td>{{ evenement.telenseignantref }}</td>
            </tr>
            <tr>
                <th>Nombres d'élèves</th>
                <td>{{ evenement.nbEleves }}</td>
            </tr>
            <tr>
                <th>Niveau de la classe</th>
                <td>Informations 6</td>
            </tr>
            <tr>
                <th>Nombres d'intervenants IG45</th>
                <td>Informations 7</td>
            </tr>
            <tr>
                <th>Nombres d'intervenants IG45</th>
                <td>Informations 7</td>
            </tr>
            <tr>
                <th>Nombres d'intervenants IG45</th>
                <td>Informations 7</td>
            </tr>
            <tr>
                <th>Nombres d'intervenants IG45</th>
                <td>Informations 7</td>
            </tr>
            <tr>
                <th>Nombres d'intervenants IG45</th>
                <td>Informations 7</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evenement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
